$bg: hsl(185, 75%, 39%);
$text: hsl(229, 23%, 23%);
$greytext: hsl(227, 10%, 46%);
$darkgrey: hsl(0, 0%, 59%);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

b {
    font-size: 18px;
}

p {
    color: $text;
}

span {
    color: $greytext;
}

.topcircle {
    position: absolute;
    left: -240px;
    top: -500px;
}

.botcircle {
    position: absolute;
    right: -218px;
    bottom: -665PX;
    transform: scale(1.1);
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
    border-radius: 15px;
    height: 392px;
    width: 375px;

    .bgcard {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .avatar {
        display: block;
        position: absolute;
        outline: 5px solid white;
        border-radius: 50%;
        transform: scale(1.1);
        left: 37%;
        top: 25%;
    }

    .name {
        margin-bottom: auto;
        text-align: center;
        margin-top: 73px;

        p {
            margin-top: 7px;
        }
    }

    .down {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        padding: 25px;
        border-top: 1px solid $darkgrey;
    }
}

.attribution {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}


@media screen and (max-width: 450px) {
    .content {
        width: 330px;

        .bgcard {
            height: 150px;
        }

        .avatar {
            left: 36%;
            top: 25%;
        }
    }

    .topcircle {
        position: absolute;
        left: -600px;
        top: -700px;
    }

    .botcircle {
        position: absolute;
        right: -800px;
        bottom: -600px;
        transform: scale(1.1);
    }
}